{
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 120,
  "importOrder": ["^(next/(.*)$)|^(next$)", "^(react/(.*)$)|^(react$)", "<THIRD_PARTY_MODULES>", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
